<!--Jqury used for Header & Footer Fatch data-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("header").load("header.html");
        $("footer").load("footer.html");
    });
</script>
<!--===== Start Header Section =====-->
<header></header>
<!--===== End Header Section =====-->

<section>
    <div class="container py-5 my- bg-secondar ">
        <div class="row justify-content-center ">
            <div class="col-md-6 text-center ">
                <img src="assets/img/emiratesnumber/404 Error-pana.png" class="img-fluid " alt="">
                <a href="index.html" class="link-dark fw-bold  "><i class="bi bi-arrow-left mx-1"></i>Go Back</a>
            </div>
        </div>
    </div>
</section>


<!--=======FOOTER SECTION===========-->
<footer></footer>
<!--=======END FOOTER SECTION===========-->