<!--Jqury used for Header & Footer Fatch data-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("header").load("header.html");
        $("footer").load("footer.html");
    });
</script>
<!--===== Start Header Section =====-->
<header></header>
<!--===== End Header Section =====-->
<!--===== Start Hero Section =====-->
<section class="bg-info bg-opacity-10">
    <div class="container py-5 mt-5">
        <div class="row">
            <!--Hero Title-->
            <div class="col-md-7 p-md-5">
                <h1 class="fs-2 text-dark fw-bold "><span class="text-color2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, delectus.</p>
                        <i class="bi bi-star-fill d-md-none  text-warning "></i> Licence Plate <span
                            class="text-dark">and</span> Mobile Number</span> in Dubai</h1>
                <p class="fw-normal">Buy directly from local suppliers. No commission, no mark-ups.</p>
                <p class="fw-bold"><i class="bi bi-star-fill text-warning "></i> <span
                        class="counter display-6 align-top fw-bold">5,377</span> License plates printed and <b
                        class="text-danger ">526</b> Sold</p>
                <p class="fw-bold"><i class="bi bi-star-fill text-warning "></i> <span
                        class="counter display-6 align-top fw-bold">1,239</span> Mobile numbers printed and <b
                        class="text-danger ">120</b> Sold</p>
                <div class="mt-4"> <a href="license-plates.html" class="btn bg-color2 btn-lg text-light me-2"> Licence
                        Plate</a> <a href="mobile-numbers.html" class="btn btn-lg bg-hover border-danger me-2 ">Mobile
                        Number</a> </div>
            </div>
            <div class="col-md-5 p-md-5 pt-5">
                <!--====Hero SLider=====-->
                <div dir="ltr" class="here-slider">
                    <!--SLider Item-->
                    <div class="img-item"> <img src="assets/img/Plates-numbers/mobile1.jpg" class="img-fluid rounded-5"
                            alt="..."> </div>
                    <div class="img-item"> <img src="assets/img/Plates-numbers/3.jpg" class="img-fluid rounded-5"
                            alt="..."> </div>
                    <div class="img-item"> <img src="assets/img/Plates-numbers/mobile2.jpg" class="img-fluid rounded-5"
                            alt="..."> </div>
                    <div class="img-item"> <img src="assets/img/Plates-numbers/1.jpg" class="img-fluid rounded-5"
                            alt="..."> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== End Hero Section =====-->
<!--===== Start Service Category Seciton =====-->
<section>
    <div class="container py-5 text-center">
        <div class="row gy-3">
            <h3 class="card-title text-color fs-3 fw-bold mb- "><span style="color: #fd4c48">Our Services</span>
                In UAE</h3>
            <p class="card-subtitle">Emiratesnumber.ae is the most popular number plate classified website and it has
                most collection of plate numbers of UAE. List your plate number for sale.</p>
            <br>
            <br>
            <!--Category Item Start-->
            <div class="col-12 col-md-3 cursor em-service">
                <div class="card mb-3 border-info" onclick="window.location='/license-plates.html';">
                    <div class="row g-0">
                        <div class="col-3 m-auto ">
                            <a href="index.html"> <img src="assets/img/emiratesnumber/car-plate.png"
                                    class="img-fluid p-3 p-md-2" alt=""> </a>
                        </div>
                        <div class="col-9 m-auto">
                            <div class="card-body text-start position-relative ">
                                <h5 class="card-title text-color fw-bold">Buy Licence Plate</h5>
                                <p class="card-text text-muted ">Most collection of plate numbers of UAE</p> <img
                                    src="assets/img/emiratesnumber/right-arrow.png" width="20"
                                    class=" position-absolute top-50 end-0 translate-middle" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 cursor em-service">
                <div class="card mb-3 border-danger" onclick="window.location='/plate-print.html';">
                    <div class="row g-0">
                        <div class="col-3 m-auto "> <img src="assets/img/emiratesnumber/spare-parts.png"
                                class="img-fluid p-3 p-md-2" alt=""> </div>
                        <div class="col-9 m-auto">
                            <div class="card-body text-start position-relative ">
                                <h5 class="card-title text-color fw-bold">Sell Licence Plate</h5>
                                <p class="card-text text-muted ">List up your car plate number for sale</p> <img
                                    src="assets/img/emiratesnumber/right-arrow.png" width="20"
                                    class=" position-absolute top-50 end-0 translate-middle" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 cursor em-service">
                <div class="card mb-3 border-dark " onclick="window.location='/mobile-numbers.html';">
                    <div class="row g-0">
                        <div class="col-3 m-auto "> <img src="assets/img/emiratesnumber/sim.png"
                                class="img-fluid p-3 p-md-2" alt=""> </div>
                        <div class="col-9 m-auto">
                            <div class="card-body text-start position-relative ">
                                <h5 class="card-title text-color fw-bold">Buy Phone Number</h5>
                                <p class="card-text text-muted ">You can buy now customize mobile numbers</p> <img
                                    src="assets/img/emiratesnumber/right-arrow.png" width="20"
                                    class=" position-absolute top-50 end-0 translate-middle" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 cursor em-service">
                <div class="card mb-3 border-success " onclick="window.location='/mobile-print.html';">
                    <div class="row g-0">
                        <div class="col-3 m-auto "> <img src="assets/img/emiratesnumber/print.png"
                                class="img-fluid p-3 p-md-2" alt=""> </div>
                        <div class="col-9 m-auto">
                            <div class="card-body text-start position-relative ">
                                <h5 class="card-title text-color fw-bold">Sell Phone Number</h5>
                                <p class="card-text text-muted ">You can print multiple mobile numbers for the sell</p>
                                <img src="assets/img/emiratesnumber/right-arrow.png" width="20"
                                    class=" position-absolute top-50 end-0 translate-middle" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Category Item End-->
        </div>
    </div>
</section>
<!--===== End Service Category Section =====-->
<!--===== Start Features Licence Plate Section =====-->
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-auto p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="col-md-9 col-12">
                        <h2 class="text-color fw-bold fs-3"><span style="color: #fd4c48">Featured </span>License Plates
                        </h2>
                        <p class="text-muted subtitle">We have features license plate section which allow your plate
                            numbers to be highlighted and shown in the top of the page and increase the possibility to
                            sell your plate number in a very short time.</p>
                    </div>
                    <div class="col-md-3 col-12 m-auto d-none d-md-block ">
                        <div dir="ltr">
                            <button class="plate-prev-btn btn bg-color px-3 text-light mx-2"><i
                                    class="bi bi-arrow-left"></i></button>
                            <button class="plate-next-btn btn bg-color px-3 text-light mx-2"><i
                                    class="bi bi-arrow-right "></i></button>
                        </div>
                    </div>
                </div>
                <div dir="ltr" class="favorite-plates">
                    <!--Licence Plate Item Start-->
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate1.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                        <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slider Nav FOr Mobile-->
                <div dir="ltr" class="d-md-none mt-3  d-flex justify-content-end">
                    <button class="plate-prev-btn btn bg-color px-3 text-light mx-2"><i
                            class="bi bi-arrow-left"></i></button>
                    <button class="plate-next-btn btn bg-color px-3 text-light mx-2"><i
                            class="bi bi-arrow-right "></i></button>
                </div>
            </div>
        </div>
</section>
<!--===== End Features Licence Plate Section =====-->
<!--===== Start Latest Number Plate Section =====-->
<section class="py-2">
    <div class="container rounded-5 py-5"
        style='box-shadow: 0 0px 14px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);'>
        <div class="row mb-4 align-items-center ">
            <div class="col-auto ">
                <h3 class="text-dark  fw-bold fs-3">New number <span style="color: #fd4c48">plates </span></h3>
                <p class="card-text fw-bold ">*Update Daily</p>
            </div>
            <div dir="ltr" class="col-auto d-non d-md-block m-auto m-md-0 ">
                <a href="plate-print.html" class="btn  text-light  p-2 mx-md-3 mx-0 fw-bold bg-color2 bg-hover shadow ">Sell Plates<i
                        class="bi bi-arrow-right mx-2"></i></a>
            </div>
            <div dir="ltr" class="col-auto d-none d-md-block">
                <a href="license-plates.html" class="btn  text-light  p-2 mx-0 fw-bold bg-dark bg-hover shadow ">View Plates<i
                        class="bi bi-arrow-right mx-2"></i></a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 p-0 p-md-3">
            <!--Plate Number Loop-->
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-2 card-content">
                    <a href="#"><img class="card-img" src="assets/img/Plates-numbers/plate2.png" class="card-img-top"
                            alt=""></a>
                    <div class="d-flex mt-2">
                        <div class="col-6">
                            <div class="card-body p-1">
                                <h2 class="text-dark  fw-bold  fs-6">AED 34,344</h2>
                                <p class="card-text"><b>Seller:</b> Rita Gomas</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-1">
                                <p class="mb-1"><small class="text-body-secondary">Updated: 3 days ago</small></p> <a
                                    href="plates-details.html" class="card-link link-hover ">More details <i
                                        class="bi bi-arrow-right-short align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div dir="ltr" class="col-auto d-md-none text-center mt-4">
            <button class="btn rounded-pill text-light  p-md-3 p-2 mx-md-5 mx-0 fw-bold bg-color shadow ">View All
                Plates<i class="bi bi-arrow-right mx-2"></i></button>
        </div>
    </div>
</section>
<!--===== End  Latest Number Plate Section  =====-->
<!--======Start Call To Action======-->
<section class="p-md-0 mt-5 p-3">
    <div class="container bg-dark py-3 text-light rounded-5 ">
        <div class="row">
            <div class="col-md-8 p-4">
                <h2 class="fs-4">Print Color Plate Number</h2>
                <p class="text-dark-50">Emiratesnumber.ae has the feature of printing color plate number. Print your
                    color plate today and sell.</p> <a href="plate-print.html"
                    class="btn bg-light bg-hover fw-bold">Print Number</a>
            </div>
            <div class="col-md-4 text-center "> <img src="assets/img/Plates-numbers/color-number-plate.png" alt=""
                    class="w-50"> </div>
        </div>
    </div>
</section>
<!--======End Call To Action======-->
<!--===== Start Featured Mobile Number Section =====-->
<section>
    <div class="container py-5 my-3">
        <div class="row">
            <div class="col-auto p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="col-md-9 col-12">
                        <h2 class="text-color fw-bold fs-3"><span style="color: #1abc9c">New Number </span>In Dubai
                        </h2>
                        <p class="text-muted subtitle">Emiratesnumber.ae is the largest website where you can buy or
                            sell your mobile numbers from UAE mobile service operator.</p>
                    </div>
                    <div class="col-md-3 col-12 m-auto d-none d-md-block ">
                        <div dir="ltr">
                            <button class="number-prev-btn btn bg-color2 px-3 text-light mx-2"><i
                                    class="bi bi-arrow-left"></i></button>
                            <button class="number-next-btn btn bg-color2 px-3 text-light mx-2"><i
                                    class="bi bi-arrow-right "></i></button>
                        </div>
                    </div>
                </div>
                <div dir="ltr" class="favorite-number">
                    <!--Licence Plate Item Start-->
                    <div class="position-relative">
                        <div class="card m-2 p-3 mb-4 card-content">
                            <a href="#"><img class="card-img" src="assets/img/mobile-number/mobile-number.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 14,344</h2>
                                        <p class="card-text"><b>Seller:</b> Amir Hossain</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 1 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 p-3 mb-4 card-content">
                            <a href="#"><img class="card-img" src="assets/img/mobile-number/mobile-number.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 14,344</h2>
                                        <p class="card-text"><b>Seller:</b> Amir Hossain</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 1 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 p-3 mb-4 card-content">
                            <a href="#"><img class="card-img" src="assets/img/mobile-number/mobile-number.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 14,344</h2>
                                        <p class="card-text"><b>Seller:</b> Amir Hossain</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 1 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/mobile-number/mobile-number.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 14,344</h2>
                                        <p class="card-text"><b>Seller:</b> Amir Hossain</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 1 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="card m-2 mb-4 p-3 card-content">
                            <a href="#"><img class="card-img" src="assets/img/mobile-number/mobile-number.png"
                                    class="card-img-top" alt=""></a>
                            <div class="d-flex mt-2">
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <h2 class="text-dark  fw-bold  fs-6">AED 14,344</h2>
                                        <p class="card-text"><b>Seller:</b> Amir Hossain</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body p-1">
                                        <p class="mb-1"><small class="text-body-secondary">Updated: 1 days ago</small>
                                        </p> <a href="plates-details.html" class="card-link link-hover ">More details <i
                                                class="bi bi-arrow-right-short align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slider Nav FOr Mobile-->
                <div dir="ltr" class="d-md-none mt-3  d-flex justify-content-end">
                    <button class="number-prev-btn btn bg-color2 px-3 text-light mx-2"><i
                            class="bi bi-arrow-left"></i></button>
                    <button class="number-next-btn btn bg-color2 px-3 text-light mx-2"><i
                            class="bi bi-arrow-right "></i></button>
                </div>
            </div>
        </div>
</section>
<!--===== End Featured Mobile Number Section =====-->
<!--===== Start VIP Fancy Mobile Number Section =====-->
<section>
    <div class="container py-3 pb-5">
        <div class="row pb-4">
            <div class="col-12 col-md-10">
                <h2 class="text-color fw-bold fs-3"><span style="color: #1abc9c">Fancy </span>mobile numbers
                </h2>
                <p class="text-muted subtitle">Emiratesnumber.ae is the largest website where you can buy or sell your
                    fancy mobile numbers from UAE mobile service operator. You can print multiple mobile numbers on a
                    single canvas and promote.</p>
            </div>
            <div dir="ltr" class="col-12 col-md-2 m-auto">
                <a href="mobile-print.html"
                    class="btn rounded-pill text-light d-flex align-items-baseline w-100 justify-content-center  p-md-3 p-2 fw-bold bg-color2 bg-hover shadow">Sell
                    Number <i class="bi bi-arrow-right ms-2 d-none d-md-block "></i></a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3 gy-4 p-2 p-md-0">
            <!--Fancy number Loop Item-->

        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-danger">Sold</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col position-relative">
                <div class="card p-2 card-content"><span
                        class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                            class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                            src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                    <div class="d-flex mt-3 text-center ">
                        <div class="col-6">
                            <div class="card-body p-0">
                                <p class="card-text">Status:<b class="mx-1 text-danger">Sold</b></p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Canvas Modal -->
                <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                        <div class="modal-content m-auto text-center ">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--Listing Canvas-->
                                <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                        class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                                </div>
                                <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                    <!--Seller Info-->
                                    <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                            class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                            class="card-text">EmiratesNumber</span></div>
                                    <!--Social Share-->
                                    <div class="col-md-7">
                                        <ul class="nav align-items-center justify-content-center">
                                            <li class="nav-item mx-2"> <i
                                                    class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                            </li>
                                            <li class="nav-item mx-1">
                                                <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                    href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                        width="30"></a>
                                            </li>
                                            <li class="nav-item mx-1">
                                                <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                    href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                        width="30"></a>
                                            </li>
                                            <li class="nav-item mx-1">
                                                <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                    href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                        width="30"></a>
                                            </li>
                                            <li class="nav-item mx-1">
                                                <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                    href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                        width="30"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--End Social Share-->
                                </div>
                                <div class="col-md-12 m-auto text-center py-3">
                                    <button
                                        class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                        Canvas<i class="bi bi-images mx-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-color3">Available</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-danger">Sold</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-danger">Sold</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-color3">Available</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-danger">Sold</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-danger">Sold</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col position-relative">
            <div class="card p-2 card-content"><span
                    class="position-absolute top-0 mt-3 featured-badge bg-color m-2 text-light"><i
                        class="bi bi-star-fill"></i><b class="mx-1 fs-normal">VIP Number</b></span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="card-img rounded-5"
                        src="assets/img/mobile-number/vip-number.jpg" class="card-img-top" alt=""></a>
                <div class="d-flex mt-3 text-center ">
                    <div class="col-6">
                        <div class="card-body p-0">
                            <p class="card-text">Status:<b class="mx-1 text-color3">Available</b></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body p-0"> <small class="text-body-secondary fw-bold ">10 days ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
                    <div class="modal-content m-auto text-center ">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Listing Canvas-->
                            <div class="card-img text-center py-3 "> <img src="assets/img/mobile-number/vip-number.jpg"
                                    class="w-50 width-sm-80 rounded-5 border border-3 border-success " alt="">
                            </div>
                            <div class="row  rounded-3  g-md-0 align-items-baseline bg-dark bg-opacity-10  py-3">
                                <!--Seller Info-->
                                <div class="col-md-5 mb-3 mb-md-0  px-3"> <i
                                        class="bi bi-person-check bg-color text-light rounded-circle p-2"></i> <span
                                        class="card-text">EmiratesNumber</span></div>
                                <!--Social Share-->
                                <div class="col-md-7">
                                    <ul class="nav align-items-center justify-content-center">
                                        <li class="nav-item mx-2"> <i
                                                class="bi bi-share-fill border border rounded-circle  p-2 align-items-center text-color3   fs-5"></i>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/facebook2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/linkedin2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/whatsapp2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                        <li class="nav-item mx-1">
                                            <a class="nav-link p-1 text-dark d-flex flex-column align-items-center"
                                                href="#"><img src="assets/img/emiratesnumber/twitter2.png" target="blank"
                                                    width="30"></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Social Share-->
                            </div>
                            <div class="col-md-12 m-auto text-center py-3">
                                <button
                                    class="btn p-3 fs-6 bg-color bg-hover2 text-light mt-3 mt-md-0 w-50 width-sm-80 btn-sm">Download
                                    Canvas<i class="bi bi-images mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col bg-info bg-opacity-10  pt-1" style="border-radius: 28px;">
                <div dir="ltr" class="mt-0 mt-md-5 p-3 text-center m-auto "> <img src="assets/img/logo.png"
                        width="180px">
                    <a href="vip-numbers.html" class="btn rounded-pill text-color bg-hover p-3 fw-bold bg-white btn-large shadow">View All
                        Numbers<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--===== End Featured Car Section =====-->
<!--======Start Call To Action======-->
<section class="p-md-0 p-3">
    <div class="container bg-dark py-3 my-4  text-light rounded-5 ">
        <div class="row text-md-start text-center ">
            <div class="col-md-4 text-center "> <img src="assets/img/Plates-numbers/print-on-car.png" alt=""
                    class="w-50"> </div>
            <div class="col-md-8 p-4">
                <h2 class="fs-4">Print plate on your favorite car</h2>
                <p class="text-dark-50">Emiratesnumber.ae has the feature of printing plate number on your favorite car.
                    You can see car with your plate number.</p> <a href="plate-print.html"
                    class="btn bg-light bg-hover fw-bold ">Print Number</a>
            </div>
        </div>
    </div>
</section>
<!--======End Call To Action======-->
<!--======Start Partners Action======-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-auto py-5">
                <div dir="ltr" class="partner">
                    <div class="brand"> <img src="assets/img/emiratesnumber/dxb-police-logo.png" class="img-fluid"
                            alt=""> </div>
                    <div class="brand"> <img src="assets/img/emiratesnumber/rta-logo.png" class="img-fluid" alt="">
                    </div>
                    <div class="brand"> <img src="assets/img/emiratesnumber/dxb-police-logo.png" class="img-fluid"
                            alt=""> </div>
                    <div class="brand"> <img src="assets/img/emiratesnumber/Hikma-profile-2.png" class="img-fluid"
                            alt=""> </div>
                    <div class="brand"> <img src="assets/img/emiratesnumber/adp.webp" class="img-fluid"
                            alt=""> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======End Partners Action======-->
<!--=======FOOTER SECTION===========-->
<footer></footer>
<!--=======END FOOTER SECTION===========-->